
{% extends "header/login.html"%}


{% block content%}

<div class="card-body login-card-body">
  <p class="login-box-msg">Sign in to start your session</p>
  {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
      {% for category, message in messages %}
      <script type="text/javascript">
        Swal.fire("{{message}}")

      </script>
      {% endfor %}
    {% endif %}
  {% endwith %}
  <form action="{{url_for('userLogin')}}" method="post">
    <div class="input-group mb-3">
      <input type="email" name ="email" class="form-control" placeholder="Email">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-envelope"></span>
        </div>
      </div>
    </div>
    <div class="input-group mb-3">
      <input type="password" name ="password" class="form-control" placeholder="Password">
      <div class="input-group-append">
        <div class="input-group-text">
          <span class="fas fa-lock"></span>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-4">
      </div>
      <!-- /.col -->
      <div class="col-4">
        <button type="submit" class="btn btn-primary btn-block">Sign In</button>
      </div>
      <div class="col-4">
      </div>
      <!-- /.col -->
    </div>
  </form>
  <!-- /.social-auth-links -->


  <p class="mb-0">
    <a href="{{url_for('register')}}" class="text-center">Register a new membership</a>
  </p>
</div>

{% endblock %}
